.filter-form,
.search-form {
  margin-bottom: 5px;
}

.filter-form {
  padding-right: 10px;
  width: 100%;
}

.form-input {
  width: 80% !important;
}

form > button {
  width: 19%;
  margin-top: -8px;
}
